asgiref==3.8.1
distlib==0.3.8
dj-database-url==2.2.0
Django==5.0.6
django-crispy-forms==2.1
django-environ==0.11.2
django-suit @ https://github.com/darklow/django-suit/tarball/v2#sha256=b40c916de9528ca86bcccd42d1fd54e7773e5071d2bfd9efc576039c1a441c0b
filelock==3.13.1
gunicorn==22.0.0
packaging==24.0
pillow==10.3.0
platformdirs==4.2.0
psycopg2==2.9.9
sqlparse==0.5.0
typing_extensions==4.12.0
tzdata==2024.1
virtualenv==20.25.1
whitenoise==6.6.0
