{% extends 'base.html' %} {% load static %} {% block content %}

<!-- /////////////////////////////////////////Content -->
<div id="page-content">

    <!-- ////////////Content Box -->
    <section class="box-content">
        <div class="container">
            <div class="post pt-5 pb-5 ">
                <div class="post pb-5 ">
                    <h2 class="entry-title about-color text-center"><i class="fas fa-paperclip fa-1x"></i> العقود التجارية</h2>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 text-center">
                        <img src="{% static 'images/pages_app/service_1.jpg' %}" class="img-responsive" alt="About">
                    </div>
                    <div class="col-md-8 col-sm-12 ">
                        <br>
                        <p>
                            المحاماة مهنة حرة تشارك السلطة القضائية في استظهار الحقائق لتحقيق العدل وتأكيد سيادة القانون، ويطلق على من يمارس مهنة المحاماة محامي أو مستشار قانوني. وهى مهنة قائمة على تقديم المساعدة للأشخاص الطبيعيين والاعتباريين في اقتضاء حقوقهم والمعاونة في العمل
                            وفقا للقوانين الشرعية المتبعة في كافة المجالات والدفاع عن حقوق الآخرين والتوعية القانونية للمواطنين بحقوقهم وواجباتهم. " </p>
                    </div>
                </div>
                <p>
                    المحاماة مهنة حرة تشارك السلطة القضائية في استظهار الحقائق لتحقيق العدل وتأكيد سيادة القانون، ويطلق على من يمارس مهنة المحاماة محامي أو مستشار قانوني. وهى مهنة قائمة على تقديم المساعدة للأشخاص الطبيعيين والاعتباريين في اقتضاء حقوقهم والمعاونة في العمل
                    وفقا للقوانين الشرعية المتبعة في كافة المجالات والدفاع عن حقوق الآخرين والتوعية القانونية للمواطنين بحقوقهم وواجباتهم. إن المحاماة مهنة كتمان السر والشرف فلا يحق لمن يعمل بها أن يفشي أسرار عملاؤه، فقد وثقوا به ووضعوا ثقتهم فيهِ، ويحكم
                    ممارسة مهنة المحاماة القانون. ولهذا لا يستطيع ان يُنكر أحد أن المحاماة لازمة من لزوميات العدالة، وضرورة من ضرورات تحقيقها، والعدالة كل كامل لا يتجزأ ولا يتقطع وإلا انهار وانعدم . "
                </p>
                <blockquote>
                    <p>المحاماة مهنة حرة تشارك السلطة القضائية في استظهار الحقائق لتحقيق العدل وتأكيد سيادة القانون،</p>
                </blockquote>
                <p>
                    يطلق على من يمارس مهنة المحاماة محامي أو مستشار قانوني. وهى مهنة قائمة على تقديم المساعدة للأشخاص الطبيعيين والاعتباريين في اقتضاء حقوقهم والمعاونة في العمل وفقا للقوانين الشرعية المتبعة في كافة المجالات والدفاع عن حقوق الآخرين والتوعية القانونية للمواطنين
                    بحقوقهم وواجباتهم. إن المحاماة مهنة كتمان السر والشرف فلا يحق لمن يعمل بها أن يفشي أسرار عملاؤه، فقد وثقوا به ووضعوا ثقتهم فيهِ
                </p>
            </div>
        </div>
    </section>

</div>
{% endblock %}