 {% extends 'base.html' %}{% load crispy_forms_tags %}{% block content %}
<!--messges start -->
<section id="messages">
    <div class="container">
        {% if messages %} {% for message in messages %}
        <div class='alert alert-{{message.tags}}'>
            <strong class="text-center">{{ message }}</strong>
        </div> {% endfor %} {% endif %}
    </div>
</section>
<!-- messages end -->


<!-- breadcrumb start -->
<section id="mybreadcrumb">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="stretched-link" href="{% url 'blog_app:cats_list' %}">الأقسام الرئيسية</a></li>
                <li class="breadcrumb-item "><a class="stretched-link" href="{% url 'blog_app:posts_to_cat' cat_selected.id %}">{{cat_selected}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{cat_post_detail}}</li>
            </ol>

        </nav>
    </div>
</section>
<!--  end breadcrumb -->




<!-- start delete post form  -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="text-center">
                    <form method="POST" action="{% url 'blog_app:post_delete' cat_id=cat_selected.id   post_id=cat_post_detail.id %}" enctype="multipart/form-data">

                        {% csrf_token %}


                        <div class="border mt-3 mb-3 bg-primary">
                            <p>هل أنت متأكد أنك تريد حذف الموضوع :</p>
                            <h5>{{cat_post_detail}}</h5>
                            <br>
                                <a href="{% url 'blog_app:cat_post_detail' cat_selected.id  cat_post_detail.id  %}" class="btn btn-sm btn-secondary">إلغاء</a>
                                <a  href="{% url 'blog_app:post_delete' cat_selected.id  cat_post_detail.id  %}" class="btn btn-sm btn-danger  text-right">حذف</a>
                            <br> <br>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end delete post  -->
{% endblock %}